/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/

:root {
    --delidel_orange: #F16422;
    --border_color: #BFBFBF;
    --blue-gray-900: #2E2E2E;
    --white: #FFFFFF;
    --mid-gray: #838383;
    --radius-small: 10px;
    --radius-medium: 30px;
}
.companyname {
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.username {
    color: var(--blue_gray_900) !important;
}

.dhi-group-1 {
    background-color:var(--delidel_orange);
    width: 40px;
    height: 16px;
    border-radius: var(--radius-xs);
    border: 1px solid var(--gray_400);
}

/*-------------------------------------
    2. Page CSS
  --------------------------------------*/
.login {
    background-color: var(--white_a700);
    width: 100%;
}

.roworangelogoth {
    /* height: 996px; */
    background-image: url(../assets/images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 70px 0px 20px 0px;

    @media only screen and (max-width: 1440px) {
        height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;
    }

    @media only screen and (max-width: 550px) {
        padding: 16px;
    }
}

.loginforgot {
    /* margin-bottom: 132px; */
    width: 532px;
    height: 583px;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: -1px 0px 62.9px 4px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    box-shadow: -1px 0px 62.9px 4px rgba(0, 0, 0, 0.10);
    width: 28%;
    padding: 38px;
    border-radius: 30px;
    /* @media only screen and (max-width: 1440px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 550px) {
      padding: 16px;
    } */
}

.logocrm {
    gap: 10px;
    display: flex;
    width: 52%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.orangelogothree {
    height: 58px;
    width: 76%;
    object-fit: contain;
}

.crm {
    color: var(--delidel_orange);
text-align: center;
font-family: "Nunito Sans";
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
    width: 52px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 52px;
    border-radius: 50%;
    border: 2px solid var(--delidel_orange);
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--delidel_orange);
    text-align: center;
    font-family: "Nunito Sans";
}

.letsget {
    z-index: 1;
    position: relative;

    @media only screen and (max-width: 1050px) {
        font-size: 24px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 22px;
    }
}

.columnusername {
    margin-top: 26px;
    width: 92%;
    display: flex;
width: 420px;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
flex-shrink: 0;

    @media only screen and (max-width: 1440px) {
        width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.usernamepwd {
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: var(--Dark-Grey, #2E2E2E);
}

/* .username-1 {
    color: var(--gray_600);
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 10px;
border: 1px solid #BFBFBF;
} */

/* .password-1 {
    color: var(--Mid-Grey, #838383);
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 10px;
border: 1px solid #BFBFBF;

    @media only screen and (max-width: 550px) {
        padding-right: 16px;
    }
} */
.form-control{
    color: var(--Mid-Grey, #838383);
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 10px;
border: 1px solid #BFBFBF;
}

.iconsaxlineareyeslash {
    height: 22px;
    width: 24px;
}

.forgotremeber {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.rememberme {
    gap: 12px;
    flex: 1;
    display: flex;
    align-items: center;
}

.forgot-password{
    color: var(--button_background);
text-align: right;

/* Nunito Sans  Regular 16pt */
font-family: "Nunito Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: transparent;
    border: none;
}
.switch-1 {
    border: 1px solid var(--gray_400);
}

.dhi-group {
    height: 10px;
    background-color: var(--gray_400);
    width: 10px;
    border-radius: 5px;
}

.login-1 {
    color: var(--white_a700);
    margin-top: 28px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 18px;
    background-color: var(--deep_orange_500);
    align-self: stretch;
    text-align: center;
    height: 56px;
    border-radius: var(--radius-sm);
    width: 100%;

    @media only screen and (max-width: 1440px) {
        font-size: 15px;
    }

    @media only screen and (max-width: 550px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}